body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid rgb(163, 163, 83);
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: medium;
    font-family: monospace;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
   
}

.link-buttondes {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.182);
    font-size: medium;
    font-family: monospace;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
   
}

.centered-container {
    text-align: center;
}

h1, h2 {
    text-align: center;
}
